body {
  font-family: Arial, sans-serif;
  background-image: url(img.jpg) ;
  background-repeat:no-repeat ;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  background: rgba(0, 0, 0, 0.2);
  padding: 20px 40px;
  border-radius: 10px;
  text-align: center;
  width: 350px;
}

h1 {
  margin-bottom: 20px;
}

.question {
  font-size: 18px;
  margin-bottom: 10px;
}

.answers button {
  display: block;
  margin: 8px auto;
  padding: 10px 20px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background: #fff;
  color: #333;
  cursor: pointer;
  transition: background 0.3s;
}

.answers button:hover {
  background: #eee;
}

.correct {
  background-color: #4CAF50 ;
  color: white;
}

.wrong {
  background-color: #f44336 ;
  color: white;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

#next-btn,
#prev-btn,
#play-again-btn {
  padding: 10px 20px;
  background: #222;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#next-btn:disabled,
#prev-btn:disabled {
  background: #555;
  cursor: not-allowed;
}

#score {
  font-size: 20px;
  margin-top: 20px;
}

#play-again-btn {
  display: none;
  margin-top: 20px;
  background: #007BFF;
}
